@page "/"

<PageTitle>Email Lookup</PageTitle>

<h1>Email Lookup</h1>

<EditForm Model="_lookupData" OnValidSubmit="LookupAsync">
    <DataAnnotationsValidator/>
    <div>
        <label>Email Address:</label>
        <InputText @bind-Value="_lookupData.EmailAddress" />
        <button type="submit">Look up</button>
    </div>
</EditForm>

<div>
    @_message
</div>

@if (_showResults)
{
    <div>
        <div>
            @_searchResults?.FirstName
        </div>
        <div>
            @_searchResults?.LastName
        </div>
    </div>
}